{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block content %}
    <h2>User login:</h2>
    {% if form.errors %}
        <p>
            Invalid username or password
        </p>
    {% endif %}
    <form action="." method="post">
            <table>

                {% for field in form %}
                    <tr>
                          {{ field.errors }}
                          <td class="td__title" style="width: 10%;">
                              {{ field.label_tag }}
                          </td>
                          <td class="td__input" style="width: 80%;">
                              {{ field }}
                          </td>
                          {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                          {% endif %}
                    </tr>
                {% endfor %}
                {% csrf_token %}
            </table>

            <input type="submit" value="Login">
        </form>
    <a class="note__tool" href="{% url "password_reset" %}">Forgot your password?</a>
{% endblock %}