{% extends "base.html" %}

{% block title %} Create material {% endblock %}

{% block content %}
    <h2 style="margin-bottom: 5px; text-transform:uppercase;" >Create new note</h2>
        <form action="." method="post">
            <table>
                {% for field in form %}
                    <tr>
                          {{ field.errors }}
                          <td class="td__title" style="width: 10%;">
                              {{ field.label_tag }}
                          </td>
                          <td class="td__input" style="width: 80%;">
                              {{ field }}
                          </td>
                          {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                          {% endif %}
                    </tr>
                {% endfor %}
                {% csrf_token %}
            </table>
            <input type="submit" value="Create Material">
        </form>
{% endblock %}