<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} DEFAULT TITLE {% endblock %}</title>
</head>
<body>
{% if request.user.is_authenticated %}
    HI {{ request.user.username }}
    <a href="{% url "logout" %}">logout</a>
    <a href="{% url 'password_change' %}">Change password</a>
    <a href="{% url 'main_page:profile' %}">Profile</a>
{% else %}
        <a href="{% url "login" %}">login</a>
        <a href="{% url "django_registration_register" %}">Registration</a>
{% endif %}

{% block content %}
{% endblock %}

</body>
</html>