{% extends "base.html" %}

{% block title %}
Note
{% endblock %}

{% block content %}
    <p>
        <a href="{% url "main_page:add_note" %}">Create New Material</a>
    </p>


    {% for note in notes %}

        <h2>{{ note.title }}</h2>
        <p>
            {{ note.body }}
        </p>
        <p>
            Author: {{ note.author }}.
        </p>
        <p>
            Published: {{ note.publish }}.
        </p>
        <p>
{#            <a href={% url 'edit' id=item.id %}>Edit</a>#}
            <a href={% url 'main_page:delete_note' note_id=note.id %}>Delete</a>
        </p>


    {% endfor %}

{% endblock %}