{% extends 'base.html' %}
{% block title %} Person profile {% endblock %}

{% block tool_links %}
    <a class="tool__link" href="{% url 'password_change' %}">Change password</a>
    <a class="tool__link" href="{% url "main_page:edit_user" %}">Edit profile</a>
{% endblock %}

{% block content %}

    <p>First Name: {{ user.first_name}}</p>
    <p>Last Name:  {{ user.last_name }}</p>
    <p>Friends:</p>
    <ol>
        {% for friend in user.profile.friends.all %}
            <li><a href="{{ friend.get_absolute_url }}">{{ friend }}</a></li>
            <p>{{ friend.get_absolute_url }}</p>
        {% endfor %}
    </ol>
{% endblock %}