{% block title %} Person profile {% endblock %}

{% block content %}
    <a class="nav__link" href="{% url 'password_change' %}">Change password</a>
    <p><a href="{% url "main_page:edit_user" %}">Edit profile</a></p>

    <p>first_name: {{ user.first_name}}</p>
    <p>last name:  {{ user.last_name }}</p>
    <p>friends:</p>
    <ol>

    {% for friend in user.profile.friends.all %}
        <li>{{ friend }}</li>
    {% endfor %}
    </ol>

    <p><a href="{% url 'main_page:to_main_or_login' %}">to main</a></p>
{% endblock %}